#box_acceuil {
	background-color: blueviolet;
	position: relative;
	width: 100vw;
	padding: 200px;
}

.slogan.acceuil {
	text-align: left;
	letter-spacing: 3px;
	padding-left: 130px;
}

#agile {
	position: absolute;
	font-family:'gotcha-regular';
	color:#E3C0FF;
	font-size: 160px;
	top: 210px;
	left: 780px;
	z-index: 1;
}

.text.acceuil {
	top: -60px;
	padding-left: 130px;
}

#allies {
	color:#E3C0FF;
	font-weight: bold;
}

@media (max-width: 1180px) {

	#acceuil {
		padding-top: 250px;
		left: -100px;
	}
	
	#agile {
		font-size: 100px;
		top: 330px;
		left: 405px;
	}

	.text.acceuil {
		top: 270px;
	}
}

@media (max-width: 600px) {
	
	#acceuil {
		padding-top: 200px;
		left: -20px;
	}

	#agile {
		font-size: 60px;
		top: 260px;
		left: 270px;
	}

	.text.acceuil {
		top: 250px;
	}
}