#contact {
	/* background-color: tan; */
	position: relative;
	top: 590px;
}

.slogan.contact {
	position: relative;
	font-weight: bold;
	font-size: 80px;
	right: 140px;
	letter-spacing: 4px;
}

.nous {
	font-weight: normal;
}

.text.contact {
	position: relative;
	right: 140px;
	top: -50px;
}

.logo_contact {
	position: relative;
	height: 300px;
	font-family: 'gotcha-regular';
	font-weight: normal;
	color: white;
	font-size: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: -70px;
}

.logo_contact .les {
	position: absolute;
	font-size: 3rem;
	top: 35px;
	right: 335px;
}

.logo_contact .allies {
	position: relative;
	font-size: 6rem;
}

.logo_contact .com {
	position: absolute;
	font-family: 'NeueHaas55';
	word-spacing: 2px;
	letter-spacing: 2px;
	font-size: 0.7rem;
	top: 173px;
	left: 220px;
}

.link_contact {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: -130px;
}

.link_contact a {
	margin-top: 5px;
	margin-bottom: 5px;
}

.link_logo img {
	padding: 10px;
	height: 50px;
}

@media (max-width: 1180px) {

	#contact {
		top: 350px;
	}

	.slogan.contact {
		font-size: 60px;
		right: 60px;
	}
	
	.text.contact {
		right: 60px;
		top: -50px;
	}
	
	.logo_contact .les {
		right: 270px;
		font-size: 2.5rem;
		top: 50px;
	}
	
	.logo_contact .com {
		font-size: 0.65rem;
		font-weight: bold;
		left: 155px;
	}

	.link_contact img {
		height: 40px;
	}
}

@media (max-width: 600px) {

	#contact {
		top: 200px;
	}

	.slogan.contact {
		font-size: 38px;
	}
	
	.text.contact {
		top: -20px;
	}
	
	.logo_contact .les {
		right: 210px;
	}
	
	.logo_contact .com {
		left: 90px;
	}
}