#contact {
	height: 100%;
	width: 100vw;
}

.title_contact {
	position: relative;
	font-size: 6em;
	font-weight: bold;
	top: -810px;
	left: calc(50% - 180px);
}

.nous {
	position: relative;
	font-family:'gotcha-regular';
	color:#E3C0FF;
	font-size: 1.7em;
	font-weight: normal;
	top: 30px;
	left: calc(50% - 810px);
	z-index: 1 !important;
}

.text_contact {
	position: relative;
	left: calc(50% - 600px);
	top: -750px;
	font-size: 20px;
}

.link_contact {
	position: relative;
	font-size: 18px;
	top: -500px;
	width: 1300px;
	left: calc(50% - 700px);
	height: 70px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-end;
}

.link_contact a {
	position: relative;
	width: min-content;
	height: 30px;
}

.link_contact img {
	position: relative;
	height: 50px;
	top: 5px;
}
