.info {
	height: 100%;
	width: 100vw;
}

.small_logo_info {
	height: 60px;
}

.slogan_info {
	position: relative;
	width: 1050px;
	left: calc(50% - 525px);
	top: 130px;
}

.text_info {
	position: relative;
	width: 850px;
	left: calc(50% - 425px);
	top: 120px;
}

.text_info {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.text_info p {
	font-size: 18px;
}

.p1 {
	position: relative;
	left: -240px;
}

.p2 {
	position: relative;
	left: -90px;
}

/* .vec5-6box {
	position: relative;
	width: 180px;
	left: calc(50% - 90px);
	top: -80px;
}

.vector_info {
	position: relative;
	left: 360px;
} */

/*           ----------------------------           */

.vector_info_box {
	position: relative;
	width: 180px;
	left: calc(50% - 90px);
	top: -80px;
}

.vector_info_box img {
	position: relative;
	left: 360px;
}

.vector_info_box img.image-hover {
	position: absolute;
	object-fit: contain;
	opacity: 0;
	transition: opacity .5s;
}

.vector_info_box:hover img.image-hover {
	opacity: 1;
}

/*           ----------------------------           */