#info {
	position: relative;
	width: 100vw;
	height: 1000px;
	left: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.slogan.info {
	position: relative;
	font-size: 90px;
	font-weight: bold;
	right: 60px;
	top: 50px;
}

.regular {
	font-weight: normal;
}

.business {
	position: absolute;
	font-family:'gotcha-regular';
	color:#E3C0FF;
	font-weight: normal;
	font-size: 130px;
	top: 70px;
	right: -110px;
}

@media (max-width: 1180px) {

	#info {
		height: 700px;
	}

	.slogan.info {
		font-size: 50px;
		top: -100px;
		right: 45px;
	}

	.business {
		font-size: 70px;
		top: 40px;
		right: -55px;
	}
}

@media (max-width: 650px) {

	#info {
		height: 400px;
	}

	.slogan.info {
		font-size: 30px;
		top: -55px;
		left: -20px;
	}

	.business {
		font-size: 39px;
		top: 27px;
		right: -30px;
	}
}

@media (max-width: 450px) {

	#info {
		height: 330px;
		text-align: center;
	}

	.slogan.info {
		font-size: 23px;
		top: -90px;
		left:0px;
	}

	.business {
		font-size: 34px;
		top: 50px;
		/* left: 190px; */
		left: 0px;
	}
}

@media (max-width: 350px) {

	#info {
		height: 280px;
	}

	.slogan.info {
		font-size: 23px;
		top: 20px;
		left: 0px;
	}

	.business {
		font-size: 34px;
		top: 50px;
		left: 0px;
	}
}

@media (max-width: 280px) {

	#info {
		height: 200px;
	}

	.slogan.info {
		font-size: 20px;
		top: 10px;
		left: 0px;
	}

	.business {
		font-size: 32px;
		top: 50px;
		left: 0px;
	}
}