#info {
	position: relative;
	padding-top: 850px;
	/* background-color: slategrey; */
}

.slogan.info {
	position: relative;
	font-size: 90px;
	font-weight: bold;
	right: 50px;
}

.regular {
	font-weight: normal;
}

.business {
	position: absolute;
	font-family:'gotcha-regular';
	color:#E3C0FF;
	font-weight: normal;
	font-size: 130px;
	top: 70px;
	right: -110px;
}

@media (max-width: 1180px) {

	#info {
		padding-top: 330px;
		left: 10px;
	}

	.slogan.info {
		font-size: 50px;
	}

	.business {
		font-size: 70px;
		top: 40px;
		right: -55px;
	}
}

@media (max-width: 600px) {

	#info {
		padding-top: 90px;
	}

	.slogan.info {
		font-size: 30px;
		top: -90px;
		left: -33px;
	}

	.business {
		font-size: 39px;
		top: 27px;
		right: -30px;
	}
}

@media (max-width: 400px) {

	#info {
		padding-top: 0px;
	}

	.slogan.info {
		font-size: 23px;
		top: -200px;
		left: calc(50% - 163px);
	}

	.business {
		font-size: 34px;
		top: 20px;
		left: 190px;
	}
}

@media (max-width: 315px) {

	#info {
		padding-top: 0px;
	}

	.slogan.info {
		font-size: 23px;
		top: -200px;
		left: calc(50% - 145px);
	}

	.business {
		font-size: 34px;
		top: 50px;
		left: 0px;
	}
}

@media (max-width: 300px) {

	#info {
		padding-top: 20px;
	}

	.slogan.info {
		font-size: 23px;
		top: -200px;
		left: calc(50% - 140px);
	}

	.business {
		font-size: 34px;
		top: 50px;
		left: 0px;
	}
}

@media (max-width: 280px) {

	#info {
		padding-top: 0px;
		top: -30px;
	}

	.slogan.info {
		font-size: 20px;
		top: -520px;
		left: calc(50% - 130px);
	}

	.business {
		font-size: 34px;
		top: 50px;
		left: 0px;
	}
}

@media (max-width: 248px) {

	#info {
		top: -40px;
		left: 40px;
	}

	.business {
		top: 65px;
	}
}

@media (max-width: 200px) {

	.business {
		top: 80px;
	}
}