#newsite {
	height:100%;
	width: 100vw;
}

.small_logo_newsite {
	height: 60px;
}

.text {
	position: relative;
	height: 450px;
	width: 850px;
	left: calc(50% - 650px);
	top: 340px;
}


.text p {
	position:relative;
	left: 65px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-size: 18px;
}

.text :first-child {
	position: relative;
	left: 339px;
}

.text :last-child {
	color: #E3C0FF;
}


.vector2_newsite {
	position: relative;
	left: 180px;
	bottom: 57px;
}

.logo {
	position: relative;
	width: 440px;
	left: calc(50% - 220px);
	top: 100px;
}

.logo img {
	height: 220px;
}

.logo img.image-hover {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	object-fit: contain;
	opacity: 0;
	transition: opacity .2s;
}

.logo:hover img.image-hover {
	opacity: 1;
}

.vec3-4box {
	position: relative;
	width: 700px;
	left: calc(50% - 350px);
	top: 150px;
}

.vector_newsite {
	position: relative;
	right: 100px;
}