#reveal {
	position: relative;
	/* height:100%; */
	width: 100vw;
	top: 450px;
}

.text_reveal {
	position: relative;
	font-family: 'NeueHaas75Bold';
	font-size: 4.3em;
	display: inline-block;
	text-align: left;
	letter-spacing: 3px;
	right: 20px;
}

.business {
	font-family:'gotcha-regular';
	color:#E3C0FF;
	font-size: 1.4em;
}

.vector_reveal {
	position: relative;
	left: calc(50% - 5.9%);
	top: -12em;
}