@font-face {
	font-family: 'gotcha-regular' ;
	src: url('/gotcha-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'NeueHaas75Bold' ;
	src: url('/NeueHaasDisplayBold.ttf') format('truetype');
}

@font-face {
	font-family: 'NeueHaas55' ;
	src: url('/NeueHaasDisplayRoman.ttf') format('truetype');
}

.App {
	max-width: 1540vw - 160px;
	width: 100vw;
	margin: 0;
	box-sizing: border-box;
	font-family: 'NeueHaas55', sans-serif;
}

.top {
	position: fixed;
	width: 270px;
	left: calc(50% - 135px);
	top: 40px;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
	z-index: 1;
}

.top a {
	text-decoration: none;
	color: white;
}

.p {
	position: relative;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-size: 20px;
}



@media (max-width :1180px) {
	body {
		padding-right: 4em;
	}
	
	#reveal {
		top: 14em;
	}

	.text_reveal {
		text-align: center !important;
		font-size: 3em !important;
	}

	.vector_reveal {
		height: 40em !important;
	}
}

@media (max-width :660px) {
	.top img {
		height: 2em;
	}
	
	#reveal {
		top: 2em !important;
	}
}