@font-face {
	font-family: 'gotcha-regular' ;
	src: url('/assets/fonts/gotcha-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'NeueHaas55' ;
	src: url('/assets/fonts/NeueHaasDisplay-Roman.ttf') format('truetype'),
			url('/assets/fonts/NeueHaasDisplay-Roman.otf') format('opentype'),
			url('/assets/fonts/NeueHaasDisplay-Roman.woff') format('opentype'),
			url('/assets/fonts/NeueHaasDisplay-Roman.woff2') format('opentype');
}

@font-face {
	font-family: 'NeueHaas65' ;
	src: url('/assets/fonts/NeueHaasDisplay-Mediu.ttf') format('truetype'),
			url('/assets/fonts/NeueHaasDisplay-Mediu.otf') format('truetype'),
			url('/assets/fonts/NeueHaasDisplay-Mediu.woff') format('truetype'),
			url('/assets/fonts/NeueHaasDisplay-Mediu.woff2') format('truetype');
}

@font-face {
	font-family: 'NeueHaas75Bold' ;
	src: url('/assets/fonts/NeueHaasDisplay-Bold.ttf') format('truetype'),
			url('/assets/fonts/NeueHaasDisplay-Bold.otf') format('truetype'),
			url('/assets/fonts/NeueHaasDisplay-Bold.woff') format('truetype'),
			url('/assets/fonts/NeueHaasDisplay-Bold.woff2') format('truetype');
}

.App {
	max-width: calc(1540vw - 160px);
	width: 100vw;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'NeueHaas55', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.slogan {
	font-size: 100px;
	z-index: 2;
	letter-spacing: 2px;
}

.text {
	position: relative;
	text-align: left;
	font-size: 23px;
	margin-top: 0.5;
	margin-bottom: 0.5;
}

#vector1 {
	position: absolute;
	left: calc(50% - 110px);
	top: 730px;
	height: 700px;
}

#vector2 {
	position: absolute;
	left: calc(50% - 300px);
	top: 1800px;
	height: 650px;
}

#vector3 {
	position: absolute;
	left: calc(50% - 400px);
	top: 2640px;
	height: 900px;
}

@media (max-width: 1180px) {

	.slogan {
		font-size: 60px;
	}

	.text {
		font-size: 19px;
	}

	#vector1 {
		left: calc(50% - 170px);
		top: 500px;
		height: 600px;
	}

	#vector2 {
		left: calc(50% - 240px);
		top: 1315px;
		height: 500px;
	}

	#vector3 {
		left: calc(50% - 250px);
		top: 1900px;
		height: 700px;
	}
}

@media (max-width: 900px) {

	.slogan {
		font-size: 60px;
	}

	.text {
		font-size: 19px;
	}

	#vector1 {
		left: calc(50% - 160px);
		top: 500px;
		height: 600px;
	}

	#vector2 {
		left: calc(50% - 240px);
		top: 1315px;
		height: 500px;
	}

	#vector3 {
		left: calc(50% - 250px);
		top: 1900px;
		height: 700px;
	}
}

@media (max-width: 650px) {
	
	.App {
		width: calc(100vw - 25px);
		margin-right: auto;
		margin-left: auto;
	}

	.slogan {
		font-size: 38px;
	}
	
	.text {
		font-size: 15px;
	}
	
	#vector1 {
		left: calc(50% - 30px);
		top: 490px;
		height: 350px;
	}

	#vector2 {
		left: calc(50% - 170px);
		top: 1060px;
		height: 350px;
	}
	
	#vector3 {
		left: calc(50% - 200px);
		top: 1480px;
		height: 500px;
	}
}

@media (max-width: 450px) {
	
	.App {
		width: calc(100vw - 25px);
	}

	.slogan {
		font-size: 31px;
	}
	
	.text {
		font-size: 13px;
	}
	
	#vector1 {
		left: calc(50% - 110px);
		top: 400px;
		height: 300px;
	}

	#vector2 {
		left: calc(50% - 140px);
		top: 860px;
		height: 300px;
	}
	
	#vector3 {
		left: calc(50% - 200px);
		top: 1220px;
		height: 400px;
	}
}

@media (max-width: 350px) {
	
	.App {
		width: calc(100vw - 25px);
	}

	.slogan {
		font-size: 27px;
	}
	
	.text {
		font-size: 9px;
	}
	
	#vector1 {
		left: calc(50% - 110px);
		top: 300px;
		height: 330px;
	}

	#vector2 {
		left: calc(50% - 160px);
		top: 740px;
		height: 300px;
	}
	
	#vector3 {
		left: calc(50% - 150px);
		top: 1100px;
		height: 380px;
	}
}

@media (max-width: 280px) {
	
	.App {
		width: calc(100vw - 20px);
		margin-right: auto;
		margin-left: auto;
	}

	.slogan {
		font-size: 20px;
	}
	
	.text {
		font-size: 7px;
	}
	
	#vector1 {
		left: calc(50% - 40px);
		top: 200px;
		height: 230px;
	}

	#vector2 {
		left: calc(50% - 80px);
		top: 530px;
		height: 200px;
	}
	
	#vector3 {
		left: calc(50% - 90px);
		top: 790px;
		height: 280px;
	}
}