.navbar {
	position: fixed;
	width: 100vw;
	background-color: black;
	top: 0px;
	padding-top: 40px;
	padding-bottom: 40px;
	display: flex;
	justify-content: center;
	z-index: 20;
	margin-left: 0px;
	padding-left: 0px;
	/* left: 0px; */
}

.navbar a {
	position: relative;
	top: -5px;
	text-decoration: none;
	color: white;
	font-size: 20px;
	letter-spacing: 1px;
}

.content_navbar {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	/* left: 2px; */
}

.content_navbar a {
	padding-left: 40px;
	padding-right: 40px;
}

.navbar img {
	height: 4em;
}

@media (max-width: 600px) {

	.navbar {
		padding-top: 35px;
		padding-bottom: 35px;
	}
	
	.navbar img {
		height: 2.5em;
	}

	.navbar a {
		font-size: 17px;
		top: -8px;
	}
}

@media (max-width: 400px) {

	.navbar {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.navbar a {
		font-size: 15px;
		top: -8px;
	}
}

@media (max-width: 315px) {

	.navbar {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.navbar a {
		font-size: 12px;
		padding-left: 20px;
		padding-right: 20px;
		top: -10px;
	}
}

@media (max-width: 280px) {
	
	.navbar img {
		height: 1.8em;
	}

	.navbar a {
		top: -5px;
	}

}