.navbar {
	position: fixed;
	left: calc(50% - 100px);
	top: 40px;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
	z-index: 1;
}

.navbar a {
	position: relative;
	top: -5px;
	text-decoration: none;
	color: white;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 20px;
	letter-spacing: 1px;
}

.navbar img {
	height: 4em;
}

.navabar.p {
	position: relative;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-size: 20px;
}

@media (max-width :660px) {

	.navbar img {
		height: 2em;
	}

}