.navbar {
	position: fixed;
	width: 100vw;
	background-color: black;
	top: 0px;
	padding-top: 40px;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
	z-index: 10;
}

.navbar a {
	position: relative;
	top: -5px;
	text-decoration: none;
	color: white;
	font-size: 20px;
	letter-spacing: 1px;
}

.content_navbar a {
	padding-left: 40px;
	padding-right: 40px;
}

.navbar img {
	height: 4em;
}

.navbar.active {
	left: 14px;
}

@media (max-width: 600px) {

	.navbar img {
		height: 2.5em;
	}

	.navbar a {
		font-size: 17px;
	}

	.navbar.active {
		left: 5.3px;
	}
	
}

@media (max-width: 400px) {
	
	.navbar a {
		font-size: 15px;
		top: -5px;
	}

	.navbar.active {
		left: 4.6px;
	}
	
}

@media (max-width: 315px) {
	
	.navbar a {
		font-size: 12px;
		padding-left: 20px;
		padding-right: 20px;
		top: -3px;
	}
	
	.navbar.active {
		left: 4px;
	}

}